In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

In [2]:
# import data
houses = pd.read_csv('houses.csv')
test = pd.read_csv('houses_test.csv')

In [3]:
houses.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,0,2,2008,WD,Normal,208500
1,1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,0,5,2007,WD,Normal,181500
2,2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,0,9,2008,WD,Normal,223500
3,3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,0,2,2006,WD,Abnorml,140000
4,4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,0,12,2008,WD,Normal,250000

In [4]:
houses.drop(columns =['Unnamed: 0'], inplace=True)
test.drop(columns =['Unnamed: 0'], inplace=True)

In [5]:
#split numeric features
houses_numeric = houses.select_dtypes([np.number])
test_numeric = test.select_dtypes([np.number])
houses_numeric = houses_numeric.drop(columns=['SalePrice'])
houses_num_col = houses_numeric.columns

In [7]:
# scale numeric features
scaler = StandardScaler()

houses_numeric = scaler.fit_transform(houses_numeric)
test_numeric = scaler.transform(test_numeric)

In [8]:
houses_numeric = pd.DataFrame(houses_numeric, columns=houses_num_col)
houses[houses_num_col] = houses_numeric

In [20]:
houses.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,-1.730625,0.073732,RL,-0.145996,-0.207125,Pave,NaN,Reg,Lvl,AllPub,...,-0.068715,-0.066259,-0.463113,NaN,-0.087718,-1.599030,0.138826,WD,Normal,208500
1,-1.728251,-0.871979,RL,0.524965,-0.091909,Pave,NaN,Reg,Lvl,AllPub,...,-0.068715,-0.066259,-0.463113,NaN,-0.087718,-0.489318,-0.614137,WD,Normal,181500
2,-1.725878,0.073732,RL,-0.011804,0.073401,Pave,NaN,IR1,Lvl,AllPub,...,-0.068715,-0.066259,-0.463113,NaN,-0.087718,0.990298,0.138826,WD,Normal,223500
3,-1.723504,0.310159,RL,-0.369649,-0.096918,Pave,NaN,IR1,Lvl,AllPub,...,-0.068715,-0.066259,-0.463113,NaN,-0.087718,-1.599030,-1.367100,WD,Abnorml,140000
4,-1.721130,0.073732,RL,0.703888,0.374967,Pave,NaN,IR1,Lvl,AllPub,...,-0.068715,-0.066259,-0.463113,NaN,-0.087718,2.100010,0.138826,WD,Normal,250000

In [9]:
test_numeric = pd.DataFrame(test_numeric, columns=houses_num_col)
test[houses_num_col] = test_numeric

In [10]:
houses.columns.difference(test.columns)

Index(['SalePrice'], dtype='object')

In [11]:
# make dummies for catagorical features
df_train = pd.get_dummies(houses)
df_train.drop('Id', axis=1, inplace=True)

In [12]:
df_test = pd.get_dummies(test)
df_test.drop('Id', axis=1, inplace=True)

In [13]:
dif_test = df_train.columns.difference(df_test.columns).values

In [15]:
df_test[dif_test] = 0

In [17]:
df_test= df_test.drop(columns=['SalePrice'])

In [18]:
# split into train and test
X = df_train.drop("SalePrice", axis = 1)
y = df_train['SalePrice']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=42)

In [19]:
#start with a basic regression


model1 = LinearRegression()

model1.fit(X_train, y_train)

print('cv_score', np.mean(cross_val_score(model1, X_train, y_train, cv=5)))


mean_squared_error(y_test, model1.predict(X_test), squared=False)

cv_score -4.5215981562311393e+18

338266719384934.06

In [ ]:
# need to check:
#   how the outliers afected model
#   how long model took to run

In [ ]:
# try ridge and lasso regresions

param_grid = {}
model1_cv = GridSearchCV(model1, param_grid, cv=5)